/*@import "helpers/normalize.less";*/
@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/pts55f_w.eot');
  src: local('PT Sans'), url('../fonts/PTS55F_W.eot?#iefix') format('embedded-opentype'), url('../fonts/PTS55F_W.woff') format('woff'), url('../fonts/PTS55F_W.ttf') format('truetype'), url('../fonts/PTS55F_W.svg#PTSans-Regular') format('svg');
}
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  src: url('../fonts/pts56f_w.eot');
  src: local('PT Sans Italic'), url('../fonts/PTS56F_W.eot?#iefix') format('embedded-opentype'), url('../fonts/PTS56F_W.woff') format('woff'), url('../fonts/PTS56F_W.ttf') format('truetype'), url('../fonts/PTS56F_W.svg#PTSans-Italic') format('svg');
}
@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/pts75f_w.eot');
  font-style: normal;
  font-weight: bold;
  src: local('PT Sans Bold'), url('../fonts/PTS75F_W.eot?#iefix') format('embedded-opentype'), url('../fonts/PTS75F_W.woff') format('woff'), url('../fonts/PTS75F_W.ttf') format('truetype'), url('../fonts/PTS75F_W.svg#PTSans-Bold') format('svg');
}
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: bold;
  src: url('../fonts/pts76f_w.eot');
  src: local('PT Sans Bold Italic'), url('../fonts/PTS76F_W.eot?#iefix') format('embedded-opentype'), url('../fonts/PTS76F_W.woff') format('woff'), url('../fonts/PTS76F_W.ttf') format('truetype'), url('../fonts/PTS76F_W.svg#PTSans-BoldItalic') format('svg');
}
.row {
  width: 100%;
  margin: 0;
  padding: 0;
}
.row:after,
.row:before {
  content: '';
  display: table;
  clear: both;
}
.row .col {
  float: left;
}
.row .col.w1-16 {
  width: 6.25%;
}
.row .col.w2-16 {
  width: 12.5%;
}
.row .col.w3-16 {
  width: 18.75%;
}
.row .col.w4-16 {
  width: 25%;
}
.row .col.w5-16 {
  width: 31.25%;
}
.row .col.w6-16 {
  width: 37.5%;
}
.row .col.w7-16 {
  width: 43.75%;
}
.row .col.w8-16 {
  width: 50%;
}
.row .col.w9-16 {
  width: 56.25%;
}
.row .col.w10-16 {
  width: 62.5%;
}
.row .col.w11-16 {
  width: 68.75%;
}
.row .col.w12-16 {
  width: 75%;
}
.row .col.w13-16 {
  width: 81.25%;
}
.row .col.w14-16 {
  width: 87.5%;
}
.row .col.w15-16 {
  width: 93.75%;
}
.row .col.w16-16 {
  width: 100%;
}
.row .col.w16-16 {
  float: none;
}
.row .col.off-1 {
  margin-left: -6.25%;
}
.row .col.off1 {
  margin-left: 6.25%;
}
.row .col.off2 {
  margin-left: 12.5%;
}
.row .col.off3 {
  margin-left: 18.75%;
}
.row .col.off4 {
  margin-left: 25%;
}
.row .col.off5 {
  margin-left: 31.25%;
}
.row .col.off6 {
  margin-left: 37.5%;
}
.row .col.off7 {
  margin-left: 43.75%;
}
.row .col.off8 {
  margin-left: 50%;
}
.row .col.off9 {
  margin-left: 56.25%;
}
.row .col.off10 {
  margin-left: 62.5%;
}
.row .col.off11 {
  margin-left: 68.75%;
}
.row .col.off12 {
  margin-left: 75%;
}
.row .col.off13 {
  margin-left: 81.25%;
}
.row .col.off14 {
  margin-left: 87.5%;
}
.row .col.off15 {
  margin-left: 93.75%;
}
.row .col.off16 {
  margin-left: 100%;
}
.row .col.st-w1-16 {
  width: 60px;
}
.row .col.st-w2-16 {
  width: 120px;
}
.row .col.st-w3-16 {
  width: 180px;
}
.row .col.st-w4-16 {
  width: 240px;
}
.row .col.st-w5-16 {
  width: 300px;
}
.row .col.st-w6-16 {
  width: 360px;
}
.row .col.st-w7-16 {
  width: 420px;
}
.row .col.st-w8-16 {
  width: 480px;
}
.row .col.st-w9-16 {
  width: 540px;
}
.row .col.st-w10-16 {
  width: 600px;
}
.row .col.st-w11-16 {
  width: 660px;
}
.row .col.st-w12-16 {
  width: 720px;
}
.row .col.st-w13-16 {
  width: 780px;
}
.row .col.st-w14-16 {
  width: 840px;
}
.row .col.st-w15-16 {
  width: 900px;
}
.row .col.st-w16-16 {
  width: 960px;
}
.options-wrapper {
  /*#gradient.radial(@color1, @color2);*/
  height: 100%;
  padding-bottom: 170px;
  min-height: 270px;
  position: relative;
}
.options-logo-wrapper {
  position: absolute;
  bottom: 20px;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}
.options-logo-link {
  display: inline-block;
}
.options-center {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.options-input-container {
  text-align: center;
  /*max-width: 66%;*/
  max-width: 625px;
  margin: 0 auto;
}
.options-input-container button[type=submit],
.options-input-container input[type=text] {
  box-shadow: 0 0 0 2px #1bb27f;
  border-radius: 0;
  border: none;
  display: inline-block;
  width: auto;
}
.options-input-container input[type=text] {
  min-width: 75%;
  min-width: -webkit-calc(100% - 100px);
  min-width: calc(100% - 100px);
}
.options-input-container button[type=submit] {
  box-shadow: 0 0 0 2px #1bb27f;
  border-radius: 0;
  border: none;
  background: #1bb27f;
  color: #ffffff;
  width: 100px;
}
html,
body {
  min-height: 100%;
  height: 100%;
  height: 100vh;
}
.row.no-padding [class*=col] {
  padding: 0;
}
/*# sourceMappingURL=options.css.map */