@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/pts55f_w.eot');
  src: local('PT Sans'), url('../fonts/PTS55F_W.eot?#iefix') format('embedded-opentype'), url('../fonts/PTS55F_W.woff') format('woff'), url('../fonts/PTS55F_W.ttf') format('truetype'), url('../fonts/PTS55F_W.svg#PTSans-Regular') format('svg');
}
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  src: url('../fonts/pts56f_w.eot');
  src: local('PT Sans Italic'), url('../fonts/PTS56F_W.eot?#iefix') format('embedded-opentype'), url('../fonts/PTS56F_W.woff') format('woff'), url('../fonts/PTS56F_W.ttf') format('truetype'), url('../fonts/PTS56F_W.svg#PTSans-Italic') format('svg');
}
@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/pts75f_w.eot');
  font-style: normal;
  font-weight: bold;
  src: local('PT Sans Bold'), url('../fonts/PTS75F_W.eot?#iefix') format('embedded-opentype'), url('../fonts/PTS75F_W.woff') format('woff'), url('../fonts/PTS75F_W.ttf') format('truetype'), url('../fonts/PTS75F_W.svg#PTSans-Bold') format('svg');
}
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: bold;
  src: url('../fonts/pts76f_w.eot');
  src: local('PT Sans Bold Italic'), url('../fonts/PTS76F_W.eot?#iefix') format('embedded-opentype'), url('../fonts/PTS76F_W.woff') format('woff'), url('../fonts/PTS76F_W.ttf') format('truetype'), url('../fonts/PTS76F_W.svg#PTSans-BoldItalic') format('svg');
}
.my-board {
  position: fixed;
  padding: 0px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.25);
}
.my-board,
.my-board * {
  visibility: visible !important;
}
.my-board .btn_wrapper {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 2;
}
/*# sourceMappingURL=styles.css.map */