.mgt-drag-hidden .js-upload-template{		
		display: none;
}
.js-upload-template {
	visibility: hidden;
}
.mgt-file-drag .js-upload-file {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
	opacity: 0;
}