@import "helpers/lessmix.less";
@import "helpers/variable.less";

.my-board {
    position: fixed;
    padding: 0px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    background: fadeout(#000, 75%);
    &,
    * {
        visibility: visible !important;
    }
    .btn_wrapper {
        position: absolute;
        bottom: 10px;
        right: 10px;
        z-index: 2;
    }
}