@import 'variable.less';

.row {
    width: 100%;
    margin: 0;
    padding: 0;
    .clear();
    .col {
        float: left;
        #columnWidth(1,16);
        #columnWidth(2,16);
        #columnWidth(3,16);
        #columnWidth(4,16);
        #columnWidth(5,16);
        #columnWidth(6,16);
        #columnWidth(7,16);
        #columnWidth(8,16);
        #columnWidth(9,16);
        #columnWidth(10,16);
        #columnWidth(11,16);
        #columnWidth(12,16);
        #columnWidth(13,16);
        #columnWidth(14,16);
        #columnWidth(15,16);
        #columnWidth(16,16);
        &.w16-16 {
            float: none;
        }
        #offset(-1,16);
        #offset(1,16);
        #offset(2,16);
        #offset(3,16);
        #offset(4,16);
        #offset(5,16);
        #offset(6,16);
        #offset(7,16);
        #offset(8,16);
        #offset(9,16);
        #offset(10,16);
        #offset(11,16);
        #offset(12,16);
        #offset(13,16);
        #offset(14,16);
        #offset(15,16);
        #offset(16,16);
        #staticColumnWidth(1,16);
        #staticColumnWidth(2,16);
        #staticColumnWidth(3,16);
        #staticColumnWidth(4,16);
        #staticColumnWidth(5,16);
        #staticColumnWidth(6,16);
        #staticColumnWidth(7,16);
        #staticColumnWidth(8,16);
        #staticColumnWidth(9,16);
        #staticColumnWidth(10,16);
        #staticColumnWidth(11,16);
        #staticColumnWidth(12,16);
        #staticColumnWidth(13,16);
        #staticColumnWidth(14,16);
        #staticColumnWidth(15,16);
        #staticColumnWidth(16,16);
    }
}
.clear() {
    &:after,
        &:before {
        content: '';
        display: table;
        clear: both;
    }
}

.animation(@animation) {
  -webkit-animation: @animation;
  -moz-animation: @animation;
  -o-animation: @animation;
  animation: @animation;
}
#columnWidth(@f, @s) {
    &.w@{f}-@{s} {
        width: ((100% * @f) / @s);
    }
}
#offset(@off, @s) {
    &.off@{off} {
        margin-left: ((100% * @off) / @s);
    }
}
#offsetPlus(@off, @s) {
    &.off-pl@{off} {
        margin-right: ((100% * @off) / @s);
    }
}
#offsetInclude(@off, @s) {
    margin-left: ((100% * @off) / @s);
}
#staticColumnWidth(@f, @s) {
    &.st-w@{f}-@{s} {
        width: ((@pageWorkWidth * @f) / @s);
    }  
}